.verticalSeparator{
    border: 1px solid #D3D2D2;
    height: 100%;
}
.column{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: start;
}
.element{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contributor{
    display: flex;
}
.contributorName{

}
.contributorLink{
    color: #3153EC;
}