.appContainer{
  width: 100%;
  height: 100vh;
}
footer{
  background-color: var(--infoBG);
  width: 100%;
  min-height: 215px;
  padding: 20px 128px;
  display: flex;
  justify-content: space-between;
}
main{

}